.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    cursor: default;
    position: relative;
    padding: 24px;
    background: #333;
    border-radius: 4px;
    min-width: 320px;
    box-shadow: 0 2px 4px black;
}

.close {
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}